body{
    background-image: url("../Assets/wmremove-transformed\ 1.png");
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
}

.Main-content{
 
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-header{
    margin: 10px 200px 10px 200px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
}

.main-header h1{
    font-size: 64px;
}

.main-header p{
    font-size: 24px;
}

.main-header button{
    border: none;
    border-radius: 25px;
    background-color: rgba(81, 156, 255, 1);
    width: 231px;
    height: 75px;
    font-size: 24px;
}

.main-header button:hover{
  cursor: pointer;
}

.main-header a{
    text-decoration: none;
    color: white; 
}

.main-image{
    display: flex;
    text-align: center;
    margin: 100px 100px 10px 200px;
}
.images-content{
    margin-left:  100px;
    margin-right: 100px;
}
.images-content p{
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
}

.images-content img{
    margin-bottom: 20px;
    width: 125px;
    height: 125px;
}