nav{
    display: flex;
    width: auto;
}

.logo{
    display: flex;
    margin: 80px 200px 0px 90px;
   
}

.logo p{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 48px;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.logo img{
    height: 80px;
    width: 80px;
}

.header{
    margin: 100px 50px 0 auto;
    justify-content: space-between;
}
.header a{
    text-decoration: none;
    font-size: 24px;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
}